html{
  min-height: 100%;
  min-width:100%;
  scroll-behavior: smooth;
}
.contain {
  margin-left: 40px;
  margin-right: 40px;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Satisfy', cursive;
}
a {
  text-decoration: none;
  color: #00AEEF;
}
a:hover {
  text-decoration: none;
  color: black;
}

/* LOGO STYLES */
.logo {
  max-width: 500px;
  margin-left: 20px;
}

/* NAVIGATION */
.nav-pad {
  padding-bottom: 80px;
}
.nav {
  padding: 30px 10px 0 10px;
}
.nav-item{
  font-size: 2em;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #00AEEF;
}
/* SOCIAL ICONS */
.social-block{
  padding: 20px 10px 0 10px;
  margin: auto;
}
.social-block i {
  padding: 0 10px 0 10px;
}
.social {
  color: white;
}
.social:hover {
  color: rgba(5,221,221,1);
  text-decoration: none;
  transform: scale(1.5);
}

/* INTRO SECTION */
#intro{
  background-image: url("../images/fort-worth.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

.intro-content {
  padding-top: 40px;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.intro-content h1{
  font-family: 'Satisfy', cursive;
  color: white;
}
.intro-text {
  font-size: 22px;
  line-height: 2;
  color: white;
}
.intro-content ul li {
  font-size: 20px;
  line-height: 1.4;
}
.cap {
  font-size: 28px;
  padding-top: 2px;
  padding-right: 6px;
  color: #ffcc33;
}
.school-info {
  font-size: 20px;
  line-height: 1.4;
}
.intro-photo {
  width: 80%;
  border-radius: 50%;
  padding-bottom: 40px;
}
.info-bullets {
  color: white;
}
.resume-button {
  margin: auto;
  margin-bottom: 30px;
}
.signature {
  width: 60%;
  margin-top: -100px;
}
.pad-bottom {
  padding-bottom: 30px;
}

/* WHAT I DO */
.do-heading {
  font-size: 3em;
}
.do-text {
  font-size: 20px;
  line-height: 1.8;
  color: white;
}
.skills {
  padding-top: 30px;
  color: white;
}
.skills h3 {
  font-size: 2.6em;
  line-height: 1.6;
}
.skills ul li {
  font-size: 18px;
  line-height: 1.4;
}
.tech-icons {
  margin: 6px 6px 6px 6px;
}

/* PORTFOLIO */
#portfolio {
  margin-top: 30px;
  padding: 30px 0 30px 0;
}
.portfolio-heading {
  color: black;
  font-size: 3em;
}
.card-text{
  font-size: 16px;
}
.btn-card {
  color: white;
  background-color: #2a0f6b;
}
.btn-card:hover {
  color: white;
  background-color: #5100cd;
}
.examples {
  margin-top: 30px;
  margin-bottom: 30px;
}
.vert-align {
  vertical-align: middle;
}
.cp_embed_wrapper {
  /* required for resize to work */
  overflow: hidden;

  /* make resizeble! */
  resize: both;

  /* required to see the handle */
  background: white;
  padding-bottom: 10px;

  /* default height */
  height: 400px;
}
.cp_embed_wrapper iframe {
  height: 100% !important;
}
/* FOOTER */
footer {
  background-color: #2a0f6b;
  color: white;
}
footer p {
  padding-top: 20px;
}