html{
  min-height: 100%;
  min-width:100%;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Satisfy', cursive;
}
a {
  text-decoration: none;
  color: #00AEEF;
}
a:hover {
  text-decoration: none;
  color: black;
}

/* LOGO STYLES */
.logo {
  max-width: 500px;
}
.logo-box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

/* NAVIGATION */
.nav-pad {
  padding-bottom: 80px;
}

/* SOCIAL ICONS */
.social-block{
  padding-top: 0px;
}
.social {
  color: rgba(5,221,221,1);
}
.social:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.5);
}

/* INTRO SECTION */
#intro{
  background-image: url("../images/fort-worth.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
}

.intro-content {
  padding-top: 40px;
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}
.intro-content h1{
  font-family: 'Satisfy', cursive;
  color: white;
}
.intro-text {
  font-size: 22px;
  line-height: 2;
  color: white;
}
.intro-content ul li {
  font-size: 20px;
  line-height: 1.4;
}
.cap {
  font-size: 28px;
  padding-top: 2px;
}
.school-info {
  font-size: 20px;
  line-height: 1.4;
}
.intro-photo {
  width: 80%;
  border-radius: 50%;
  padding-bottom: 40px;
}
.info-bullets {
  color: white;
}
.resume-button {
  margin: auto;
  margin-bottom: 30px;
}
.signature {
  width: 60%;
  margin-top: -100px;
}

/* WHAT I DO */
.do-heading {
  font-size: 3em;
}
.do-text {
  font-size: 20px;
  line-height: 1.8;
  color: black;
}
.skills {
  padding-top: 30px;
}
.skills h3 {
  font-size: 2.6em;
  line-height: 1.6;
}
.skills ul li {
  font-size: 18px;
  line-height: 1.4;
}
.tech-icons {
  margin: 6px 6px 6px 6px;
}

/* FOOTER */
footer {
  background-color: #2a0f6b;
  color: white;
}
footer p {
  padding-top: 20px;
}